<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<omise>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
<!-- 2017-09-05 https://www.omise.co/which-currency-does-omise-support -->
				<currency>THB</currency>
<!--
	2016-11-16
	«A custom description for the charge. This value can be searched for in your dashboard.»
	https://www.omise.co/charges-api#charges-create
-->
				<description>{order.id}</description>
				<descriptionMaxLength>
					<title>The Omise documentation: «Charge API» → «Create a charge» → «Request Parameter». See the «description» parameter.</title>
					<url>https://www.omise.co/charges-api#charges-create</url>
				</descriptionMaxLength>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Bank Card</title>
				<title_backend>Omise</title_backend>
			</omise>
		</df_payment>
        <payment>
            <dfe_omise>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Omise\Method</model>
            </dfe_omise>
        </payment>
    </default>
</config>
